body {
  font-family: "Ovo";
  font-size: 40px;
}
.main {
  width: 1150px;
  height: 625px;
  background-color: #FFDDBE;
  padding: 25px;
}
.quote {
  height: 580px;
}
.author {
  margin-top: 20px;
  border-top: 2px solid #2A2A2A;
  padding-top: 5px;
  font-size: 30px;
}

blockquote {
  text-indent: -0.45em;
  margin: 0;
  margin-left: 25px;
}
@supports ( hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
blockquote {
    quotes: "“" "”" "‘" "’";
}
