body {
  font-family: "Ovo";
  font-size: 40px;
}
.main {
  width: 1150px;
  height: 625px;
  background-color: #FFDDBE;
  padding: 25px;
}
.quote {
  height: 580px;
}
.author {
  margin-top: 20px;
  border-top: 2px solid #2A2A2A;
  padding-top: 5px;
  font-size: 26px;
}
